body {
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    font-family: Arial, sans-serif; /* Specify font family */
    background-color: #f9f9f9; /* Set background color */
}

.container {
    max-width: 800px; /* Set maximum width for content */
    margin: 0 auto; /* Center content horizontally */
    padding: 20px; /* Add some padding around content */
}

h1 {
    text-align: center; /* Center heading */
}

p {
    text-align: center; /* Center paragraph */
}

.image-gallery {
    display: flex; /* Use flexbox for image gallery */
    flex-wrap: wrap; /* Allow images to wrap to the next line if needed */
    justify-content: center; /* Center images horizontally */
}

.image-gallery img {
    margin: 10px; /* Add some margin around images */
    max-width: 100%; /* Ensure images don't exceed container width */
}
.instruction-step {
    margin-bottom: 20px; /* Add some space between instruction steps */
}

.instruction-step p {
    font-weight: bold; /* Make instruction step text bold */
}

.container {
    max-width: 1000px; /* Set maximum width for content */
    margin: 0 auto; /* Center content horizontally */
    padding: 20px; /* Add some padding around content */
}

.instruction-step {
    width: 80%; /* Set a fixed width for each step block */
    margin: 0 auto; /* Center each step block horizontally */
    padding: 10px; /* Add some padding around each step block */
    background-color: rgb(238, 238, 238); /* Add a background color for better visibility */
    border-radius: 10px; /* Add rounded corners to each step block */
    margin-bottom: 20px; /* Add some space between each step block */
}

.instruction-step p {
    text-align: left; /* Align individual steps left */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center content vertically */
}

.instruction-step img {
    margin-right: 10px;
}
.mr-20px {
    margin-right: 20px!important;
    
}
.btn.green-button {
    color: rgb(255, 255, 255);
    background-color: rgb(3, 125, 64);
    border-bottom-color: rgb(3, 125, 64);
}

.btn {
    min-width: 180px;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 700;
    border: 2px solid transparent;
    margin-top: 10px;
    min-height: 42px;
    border-radius: 3px;
}
